<!DOCTYPE html>
  <html>
   <head>
     <meta charset="utf-8">
     <title>Protfolio Page</title>

   </head>
   <body>
     {{> head}}
     <p>The current projects</p>

      {{> footer}}
   </body>
  </html>
